# Ignore Intellij IDEA files
/.idea
/*.iml
/cobertura.ser
/.gradle

# Ignore build artifacts
target

# Ignore packaged plugins
*.zip
*.zip.sha1

# Ignore stacktrace.log
stacktrace.log

#
plugin.xml

.DS_Store
.gradle
